@import "tailwindcss";

@theme {
  --color-brand-red: #f71d1d;
  --color-brand-black: #0a0a0a;
  --color-brand-white: #e5e5e5;
  --color-brand-zinc-950: #09090b;
  --color-brand-gray: #9ca3af;

  --font-display: var(--font-dimensions), sans-serif;
  --font-heading: var(--font-helvetica), sans-serif;
  --font-body: var(--font-sf), sans-serif;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  font-family: var(--font-sf), sans-serif; 
}

.background-spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(
      100rem circle at var(--x, 50%) var(--y, 50%),
      rgba(255, 0, 0, 0.04),
      transparent 80%
    ),
    rgb(10, 10, 10);
}

.background-spotlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: url(#noiseFilter);
  opacity: 0.10;
}

@layer utilities {
  .font-display {
    font-family: var(--font-dimensions), ui-sans-serif, system-ui, sans-serif !important;
  }
  
  .font-heading {
    font-family: var(--font-helvetica), ui-sans-serif, system-ui, sans-serif !important;
  }

  .font-body {
    font-family: var(--font-sf), ui-sans-serif, system-ui, sans-serif !important;
  }
}

/* .noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
} */